.docListRoot {
  display: grid;
  gap: 16px;
  border: 2px solid #f6f6f6;
  border-radius: 8px;
  padding: 20px;
}

.listContainer {
  display: grid;
  gap: 16px;
}

.listContainer1 {
  composes: listContainer;
  grid-template-columns: 1fr;
}

.listContainer2 {
  composes: listContainer;
  grid-template-columns: 1fr 1fr;
}

.listContainer3 {
  composes: listContainer;
  grid-template-columns: 1fr 1fr 1fr;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.iconsWrapper {
  display: flex;
  gap: 8px;
}

.doctorCard {
  display: flex;
  gap: 16px;
  border: 2px solid #f6f6f6;
  border-radius: 8px;
  padding: 20px;
  padding: 9px;
  cursor: pointer;
}

.selectedDocCard {
  display: flex;
  gap: 16px;
  background-color: #eef5ff;
  border: 2px solid #579bfe;
  border-radius: 8px;
  padding: 20px;
  padding: 9px;
  cursor: pointer;
}

.docProfile {
  max-width: 60px;
  max-height: 60px;
  border-radius: 8px;
}

.docInfo {
  display: grid;
  height: fit-content;
}

.docName {
  font-weight: 600;
}

.docCaption {
  font-size: 12px;
}

