.inputGroup {
    margin-bottom: 1rem;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .errorText {
    color: red;
    font-size: 12px;
  }